<h2>The Ceremony</h2>
<div class="row-fluid">
  <div class="span2 offset2"><h3>Great Bridge United Methodist Church</h3></div>
  <div class="span2 offset1"><img class="center" src="//s3.amazonaws.com/spennifer/gbumc2.jpg" /></div>
  <div class="span2 offset1"><h3>at four-thirty in the afternoon</h3></div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <p>The ceremony will be held at <a target="_blank" href="http://www.greatbridgeumc.org">Great Bridge United Methodist Church</a>, Spencer and Jennifer's home church in Chesapeake, Virginia.  The Rineharts and the McClures have been active members of GBUMC for quite some time and could not have asked for a better church family.  Jennifer has worked as the part-time secretary for three summers, and during that time developed a close bond with the church staff.  Consequently, there is no one else Spencer and Jennifer would rather have perform the ceremony than Rev. Kesner.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span2 offset2"><img class="center" src="//s3.amazonaws.com/spennifer/gbumc4.jpg" /></div>
  <div class="span2 offset1"><img class="center" src="//s3.amazonaws.com/spennifer/danny.jpg" /><br />Rev. Danny Kesner</div>
  <div class="span2 offset1"><img class="center" src="//s3.amazonaws.com/spennifer/gbumc5.jpg" /></div>
</div>
