<h2>The Honeymoon</h2>
<div class="row-fluid">
  <div class="span6 offset2">
    <p>Both Spencer and Jennifer love hiking and the outdoors, and were looking for a honeymoon getaway that didn't come with the stress of losing luggage or any other stressful travel situations for that matter.  They wanted to retreat to a place that caters to honeymooners and offered a picturesque setting.  <a target="_blank" href="http://www.caesarspoconoresorts.com/resorts/poconopalace.aspx">Caesar's Pocono Palace</a>, located in the scenic Pocono Mountains near Marshall Creek, PA, is a popular honeymoon destination.  Spencer and Jennifer will be staying in one of its <a target="_blank" href="http://www.caesarspoconoresorts.com/suites/theromantowers.aspx">Roman Tower</a> suites, complete with a 7-foot Champagne Glass Whirlpool, sauna, massage table, heated heart-shaped pool, and king-sized bed.  They look forward to playing miniature golf, hiking, paddle boating, horseback riding, and many other activities during their five-day, all-inclusive honeymoon package.  Time permitting, they may also take a day-trip to New York City, a first for both!</p>
  </div>
  <div class="span2">
		<img src="//s3.amazonaws.com/spennifer/poconos.jpg" />
	</div>
</div>
