<h2>After the Wedding</h2>
<div class="row-fluid">
  <div class="span8 offset2">
    <p>Spencer and Jennifer recently purchased a townhouse in the Great Bridge area of Chesapeake.  The townhouse is an end unit with two bedrooms, two &amp; half baths, brand new kitchen appliances, a deck, and a see-though fireplace!  Spencer will be moving into the new house on the 25th of January and Jennifer will join him in August after the wedding.  Since they became homeowners, they have been working on furnishing the house and they are well on their way to calling it a home.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <img class="center" src="//s3.amazonaws.com/spennifer/house.jpg">
  </div>
</div>
