<!doctype html>
<html>
  <head>
    <title>The Spennifer Wedding</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/rcarousel.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
  </head>
  <body>
    <header class="navbar navbar-static-top">
      <img src="//s3.amazonaws.com/spennifer/ring.jpg" />
      <h1>the spennifer wedding</h1>
      <h1 class="pull-right">08/08/08</h1>
      <div class="carousel">
        <a href="/tale"><img src="//s3.amazonaws.com/spennifer/tale.jpg" /></a>
        <a href="/proposal"><img src="//s3.amazonaws.com/spennifer/proposal.jpg" /></a>
        <a href="/ceremony"><img src="//s3.amazonaws.com/spennifer/ceremony.jpg" /></a>
        <a href="/reception"><img src="//s3.amazonaws.com/spennifer/reception.jpg" /></a>
        <a href="/honeymoon"><img src="//s3.amazonaws.com/spennifer/honeymoon.jpg" /></a>
        <a href="/party"><img src="//s3.amazonaws.com/spennifer/party.jpg" /></a>
        <a href="/events"><img src="//s3.amazonaws.com/spennifer/events.jpg" /></a>
        <a href="/guests"><img src="//s3.amazonaws.com/spennifer/guests.jpg" /></a>
        <a href="/photos"><img src="//s3.amazonaws.com/spennifer/photos.jpg" /></a>
        <a href="/registries"><img src="//s3.amazonaws.com/spennifer/registries.jpg" /></a>
        <a href="/guestbook"><img src="//s3.amazonaws.com/spennifer/guestbook.jpg" /></a>
        <a href="/justmarried"><img src="//s3.amazonaws.com/spennifer/justmarried.jpg" /></a>
        <a href="/home"><img src="//s3.amazonaws.com/spennifer/home.jpg" /></a>
      </div>
    </header>

    {{{body}}}

    <footer>Designed by Team Spennifer &copy; 2008</footer>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js "></script>
    <script type="text/javascript" src="/scripts/jquery.ui.rcarousel.min.js"></script>
    <script type="text/javascript">
      $('.carousel').rcarousel({
        visible: 6,
        step: 1,
        width: 150,
        height: 150,
        margin: 5,
        speed: 1000,
        auto: {enabled: true, interval: 400}
      });
    </script>
    <script type="text/javascript" src="/scripts/mixpanel.js"></script>
    <script type="text/javascript">mixpanel.track('page viewed', {'page name': document.title, url: window.location.pathname});</script>
  </body>
</html>
