<h2>Wedding Party</h2>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/nicole.jpg" />
        <h3>Nicole Tucker</h3>
        <p>When it came to picking other bridesmaids, Nicole was the first person Jennifer thought of. Not only are they both GB Wildcats and VT Hokies, but they became roommates their senior year in college. Jennifer believes that living together solidified their friendship and provided them a chance to help each other grow in many ways for which she is forever thankful.  Nicole is currently studying to become a Physical Therapist in Old Dominion's graduate program.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/will.jpg" />
        <h3>Will Lawson</h3>
        <p>Many of Spencer's childhood memories were with his cousin, Will.  They would spend hours exploring, building forts, and catching frogs and turtles.  Will's sense of humor and love for life make him a fun person to be around.  He is currently a student at the University of Southern Mississippi (go Golden Eagles!).</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/dan.jpg" />
        <h3>Daniel Spencer</h3>
        <p>Dan was the first person Spencer thought of outside of family for a groomsman.  Not only were they friends at GBHS, but they both went to Virginia Tech where they spent many hours (along with Jennifer and Nicole) playing pool at The BreakZone.  Dan is currently working at Wachovia as a Loan Service Counselor.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/keri.jpg" />
        <h3>Keri McClure</h3>
        <p>When deciding on her maid of honor it was clear to Jennifer that no one else could fill those shoes but her sister. Keri is not only family but Jennifer's best friend. Her humor, smile, and unique look at life make her a constant rock that Jennifer can go to for advice, a listening ear, or a fun girls' night out. Keri will be returning to Christopher Newport University in the fall as a sophmore majoring in Business Management.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/sean.jpg" />
        <h3>Sean Rinehart</h3>
        <p>Spencer knew that the only person he wanted as his best man was his father.  Whenever Spencer needs someone, Sean is always there to offer help and advice and has been a great influence on the man Spencer has become.  Sean is a Nurse Anesthetist and recently retired from the US Navy as a Lieutenant Commander.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/chelsea.jpg" />
        <h3>Chelsea Rinehart</h3>
        <p>Some people might consider it to be an obligation when including their fianc&#233;'s sibling as bridesmaid, but for Jennifer it is a privilege. Chelsea is not only a future sister-in-law but a friend. Her quirky sense of humor, compassion, and similar love of movies have made it easy for Jennifer to feel a sense of belonging when spending time with Spencer's family. Chelsea will be graduating from high school in June and will become a fellow Hokie in the fall!</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/ashley.jpg" />
        <h3>Ashley Osborne</h3>
        <p>Ashley and Jennifer met while studying to become teachers in the same elementary education program at Virginia Tech. After working on many, many projects together, they quickly became friends despite the fact that they went to rival high schools. Jennifer was delighted to find out that she would be working together with Ashley in the future when both were offered jobs by the Chesapeake Public School System. Ashley's creative lesson plans and adventurous nature help add to Jennifer's teaching skills and also bring out a little bit of her wild side.</p>
      </div>
    </li>
    <li class="span3">
      <div class="thumbnail">
        <img class="center" src="//s3.amazonaws.com/spennifer/travis.jpg" />
        <h3>Travis Herrod</h3>
        <p>Travis has been one of Jennifer's best friends since middle school, and has since become a good friend of Spencer's.  Travis has a great sense of humor, and enjoys movies as much as (if not more than) Spencer and Jennifer do.  Travis graduated from George Mason University and is currently an insurance salesman for USAA.</p>
      </div>
    </li>
</div>
