<h2>Photos</h2>
<div class="row-fluid">
  <ul class="thumbnails">
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/17.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/17.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/02.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/02.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/05.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/05.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/18.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/18.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/19.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/19.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/09.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/09.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/20.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/20.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/21.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/21.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/10.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/10.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/13.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/13.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/08.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/08.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/22.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/22.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/01.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/01.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/03.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/03.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/04.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/04.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/06.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/06.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/32.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/32.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/20.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/20.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/23.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/23.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/24.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/24.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/07.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/07.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/11.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/11.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/27.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/27.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/12.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/12.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/25.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/25.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/26.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/26.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/14.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/14.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/15.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/15.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/28.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/28.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/29.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/29.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/16.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/16.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/30.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/30.thumb.jpg" /></a></div></li>
    <li class="span2"><div class="thumbnail"><a href="//s3.amazonaws.com/spennifer/31.jpg"><img class="center" src="//s3.amazonaws.com/spennifer/31.thumb.jpg" /></a></div></li>
  </ul>
</div>
