<h2>The Reception</h2>
<div class="row-fluid">
  <div class="span2 offset2"><h3>Hilton Garden Inn Suffolk</h3></div>
  <div class="span2 offset1"><img class="center" src="//s3.amazonaws.com/spennifer/hilton_00.jpg" /></div>
  <div class="span2 offset1"><h3>at six o'clock in the evening</h3></div>
</div>
<div class="row-fluid">
  <div class="span8 offset2">
    <p>The reception will be held in the Meade ballroom at the <a target="_blank" href="http://hiltongardeninn.hilton.com/en/gi/hotels/index.jhtml;jsessionid=ARTS0MDMAZBNWCSGBJF222Q?ctyhocn=ORFSHGI">Hilton Garden Inn & Suffolk Conference Center</a>. It came highly recommended by Jennifer's parents, Allan &nbsp; Dale, who had attended a Christmas dinner banquet there and absolutely loved the place. Spencer and Jennifer toured several other reception sites that were all very nice on their own, but none quite compared to the Hilton Garden Inn.  The hotel provided a variety of catering options, a picturesque location, room discounts for guests, and much, much more. The reception will begin with a cocktail hour and open bar starting at six o'clock and the dinner buffet will begin at approximately seven o'clock.</p>
  </div>
</div>
<div class="row-fluid">
  <div class="span2 offset2"><img class="center" src="//s3.amazonaws.com/spennifer/hilton_01.jpg" /></div>
  <div class="span1"><img class="center" src="//s3.amazonaws.com/spennifer/infinity.jpg" /></div>
  <div class="span2"><img class="center" src="//s3.amazonaws.com/spennifer/hilton_02.jpg" /></div>
  <div class="span1"><img class="center" src="//s3.amazonaws.com/spennifer/infinity.jpg" /></div>
  <div class="span2"><img class="center" src="//s3.amazonaws.com/spennifer/hilton_03.jpg" /></div>
</div>
