<div class="row-fluid">
	<div class="span2 offset3"><a href="/tale_jenny"><img class="pull-right" src="//s3.amazonaws.com/spennifer/jenny_200t.jpg" /></a></div>
	<div class="span2"><a href="/tale_spennifer"><img class="center" src="//s3.amazonaws.com/spennifer/spennifer_300t.jpg" /></a></div>
	<div class="span2"><a href="/tale_spencer"><img class="pull-left" src="//s3.amazonaws.com/spennifer/spencer_200t.jpg" /></a></div>
</div>
