<div class="row-fluid">
  <div class="span8 offset2">
    <img class="pull-left" src="//s3.amazonaws.com/spennifer/jenny_200.jpg" />
    <p>Jennifer was born in Washington, D.C. on January 12, 1985 to Allan and Dale McClure. Being an Army brat (Go Army!) her family moved around quite a bit during her early years. Although she has lived in different parts of both Germany and Virginia, she calls Chesapeake home. Jennifer graduated from Great Bridge High School in 2003 and started college at Virginia Tech that fall. She entered VT's five-year Master's program in Teaching and Learning and received her Bachelor's in December 2006. Jennifer returned to Virginia Tech and graduated again, this time earning her Master’s degree, this past May.  She has already begun working in the Chesapeake Public School System as a long-term substitute at Thurgood Marshall Elementary and will be teaching the Pre-K Express Summer School Program at Deep Creek Elementary this summer.  Jennifer is waiting in eager anticipation to find out which grade and school she will be teaching at this fall, which is all thanks to the Career Commitment Program that Chesapeake offers new teachers and which she was accepted into back in November 2007.</p>
	</div>
</div>
