@import url(http://fonts.googleapis.com/css?family=Pinyon+Script);

body {
	background-color: black;
	color: white;
}

p {
	text-align: justify;
}

h1, h2, h3 {
	font-family: 'Pinyon Script', cursive;
	font-weight: normal;
}

header h1 {
	display: inline;
}

.navbar-static-top {
	margin-bottom: 20px;
}

footer {
	margin-top: 20px;
}

footer, h2, h3 {
	text-align: center;
}

.row-fluid ul.thumbnails li.span3:nth-child(4n + 5), .row-fluid ul.thumbnails li.span2:nth-child(6n + 7) {
	margin-left: 0px;
	clear: left;
}

.carousel, div.thumbnail image, img.center, object, embed {
	display: block;
	margin: 0 auto;
}
